body {
    background-image: url(20161225_084926-3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.adresgegevens-opgeven {
    width: 40%;
    height: 60px;
    font-size: 20px;
    float: left;
    margin-top: 18px;
}

.adresgegevensnaar-opgeven {
    width: 40%;
    height: 60px;
    font-size: 20px;
    float: left;
}

.adresgegevensdatum {
    width: 20%;
    height: 60px;
    font-size: 20px;
    float: left;
}

.containerinput {
    width: 70%;
    margin-left: 15%;
    height: 40%;
    position: relative;
    background-color: #A1177F;
    margin-top: 200px;
}

.TekstBijInputContainer {
    font-size: 50px;
    text-align: center;
    color: #eeeeee;
    
}
