body {
    background-image: url(20161225_084926-3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.adresgegevens-opgeven {
    width: 26%;
    height: 60px;
    font-size: 20px;
    float: left;
    margin-top: 18px;
    margin-left: 3%;
    margin-right: 2%;
    font-family: Helvetica;
}

.adresgegevensnaar-opgeven {
    width: 26%;
    margin-right: 2%;
    height: 60px;
    font-size: 20px;
    float: left;
    font-family: Helvetica;
}

.adresgegevensdatum {
    width: 10%;
    height: 60px;
    font-size: 20px;
    margin-right: 2%;
    float: left;
    font-family: Helvetica;
}

.containerinput {
    width: 80%;
    margin: auto;   
    position: relative;
    background-color: #A1177F;
    margin-top: 200px;
}

.TekstBijInputContainer {
    font-size: 50px;
    text-align: center;
    color: #eeeeee;
    font-family: Helvetica;
    padding-top: 1%;
    
}

input[type=submit] { 
    background-color: #0065EA;
    color: #eeeeee;
    cursor:pointer;
    text-decoration: none;
    width: 30%;
    border: none;
    margin-left: 67%;
    font-size: 25px;
    font-family: Helvetica;
    margin-bottom: 2%;
}

input[placeholder] {
    text-align: center;
}

input[value="Bekijk prijzen"] { 
    padding: 10px;
}

.flex{
  display: flex;
  align-items: baseline;
}

.TekstVoorMeerdereReizenBoeken {
    float: left;
    font-size: 22px;
    color: #eeeeee;
    margin-left: 3%;
    margin-top: 3%;
    font-family: Helvetica;
}

select {
    height: 60px;
    border: none;
    width: 15%;
    margin-left: 2%;
    margin-right: 3%;
    
}

.SubmitBekijkPrijzen {
    background-color: #0065EA;
    color: #eeeeee;
    cursor:pointer;
    text-decoration: none;
    width: 30%;
    border: none;
    margin-left: 67%;
    font-size: 25px;
    font-family: Helvetica;
    margin-bottom: 2%;
    margin-top: 2%;
}



.verwijderknop {
    background-color: #0065EA;
    color: #eeeeee;
    cursor:pointer;
    text-decoration: none;
    padding: 12px;
    font-size: 18px;
    width: 100px;
    font-family: Helvetica;
    margin-left: 40%;
}




