.adresgegevens-opgeven {
    width: 22%;
    height: 60px;
    font-size: 20px;
    float: left;
    margin-top: 18px;
}

img {
    float: left;
}

body {
    background-image: url(20161225_084926-3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.adresgegevensnaar-opgeven {
    width: 22%;
    height: 60px;
    font-size: 20px;
    float: left;
}

.adresgegevensdatum {
    width: 13%;
    height: 60px;
    font-size: 20px;
    float: left;
}

.containerinput {
    width: 70%;
    margin-left: 15%;
    height: 250px;
    background-color: aqua;
    margin-top: 200px;
}
